body {
    font-family: 'Fredoka', sans-serif;
    background-color: #fff1e4;
}

/*Nav bar*/
.navbar {
    width: 98%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 140px;
    height: auto;
    padding-left: 10px;
}

.links {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 20px;
}

.links a {
    text-decoration: none;
    color: #3e07ac;
    font-size: 16px;
    transition: 0.3s;
}

.links a:hover {
    text-decoration: underline;
}


/*Edit Profile*/
.EditProfile {
    max-width: 98%;
    padding-left: 30px;
    padding-right: 30px;
}

.top {
    display: flex;
    align-items: center;
    gap: 430px;
}

.top button {
    padding: 6px 12px;
    cursor: pointer;
    background: #AB9EE2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.top button:hover {
    background: #706799;
}

.profile-pic {
    margin-top: 15px;
    text-align: center;
}

.profile-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.uploadFile {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}


.EditSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    color:#3e07ac;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 80px;
}

textarea::placeholder {
    font-family: Arial, san-serif;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    font-size: 14px;
}

.save {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #AB9EE2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.save:hover {
    background: #706799;
}