body {
    font-family: 'Fredoka', sans-serif;
    background-color: #fff1e4;
    margin: 0
}

.Login{
    display: flex;   
    height: 100%;
}

/* Left */
.Left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    text-align: center;
}

.Left img {
    width: 200px;
    height: auto;
    margin-bottom: -50px;
}

.box{
    width: 100%;
    gap: 10px;
}

.box h1{
    font-size: 40px;
    color: #3E07AC;
}

.subtitle{
    color: #3E07AC;
    margin-top: -10px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 100%;
    padding: 18px 20px;
    border: none;
    border-radius: 12px;
    background: white;
    font-size: 16px;
}

button{
    margin-top: 10px;
    padding: 18px;
    border: none;
    border-radius: 12px;
    background: #AB9EE2;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: translateY(-3px);
    background-color: #654c91;
}

.switch-page{
    margin-top: 25px;
    text-align: center;
    color: #3E07AC;
}

.switch-page a{
    color: #3E07AC;
    text-decoration: none;
    font-weight: bold;
}

.switch-page a:hover {
    text-decoration: underline;
}

/* Right */
.Right {
    width:50%;
    background:#d8d8de;
    display:flex;
    justify-content:center;
    align-items:center;
}

.Right img{
    width: 100%;
    height: auto;
}

/* MOBILE */
@media(max-width:900px){
    .Login {
        width: 100%;
        margin-top: 25%;
        align-items: center;
        justify-content: center;
    }

    .Left {
        width: 100%;
    }
    
    .Right {
        width: 0;
    }
}