body {
    font-family: 'Fredoka', sans-serif;
    background-image: url("/images/activity_background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    
}

/*Nav bar*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.logo img {
    width: 140px;
    height: auto;
}

.links {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 60px;
}
.links a,
.links button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    text-decoration: none;
    font-weight: bold;
    color:#3E07AC;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.links a:hover{
    text-decoration: underline;
    transition-duration: 2s;
}

.links button:hover{
    transform: none;
    background-color: transparent;
    text-decoration: underline;
}

.dropDown {
    position: relative;
    display: inline-block;
}

.dropDownContent {
    display:none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #AB9EE2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDownContent a {
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid #654c91;
    padding: 5px;
}

.dropDownContent a:last-child {
    border-bottom: none;
}

.dropDown.active .dropDownContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 10px 0;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.popupContent {
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
}

.popupContent h2 {
    margin:0
}

.popupContent input {
    margin-top: 10px;
}

.close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 8px;
}

.close:hover {
    background-color: grey;
    border-radius: 50%;
}

#saveBtn {
    padding: 12px 14px;
    border: none;
    border-radius: 12px;
    background: #AB9EE2;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    margin-top: 10px;
}

#saveBtn:hover {
    transform: translateY(-3px);
    background-color: #654c91;
}

/*Activity details*/
.activityPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
    gap: 30px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 50px;
    margin-bottom: -20px;
}

.header h2 {
    text-align: left;
    margin: 0;
    color:#3E07AC;
    font-size: 25px;
}

.header p{
    margin-top: -2px;
    font-style:italic;
    font-size: 15px;
    color:#654c91
}
.activityContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    gap: 24px;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Each box */
.activityBox {
    flex: 1 1 380px;
    max-width: 450px;
    min-width: 320px;

    display: flex;
    flex-direction: column;

    background: #e8dcff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
    transition: transform 0.2s, box-shadow 0.2s;
}

.activityBox:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}


.activityImage{
    position:relative;
    width:100%;
    height:120px;
}

.activityImage img{
    width:100%;
    height:100%;
    object-fit: cover;
    display: block;
}

.activityContent{
    padding-left:28px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.activityContent h2{
    font-size:17px;
    font-weight:bold;
}

.activityContent h3 {
    color:#3E07AC;
    margin-bottom:12px;
    font-size: 16px;
}

.section{
    line-height:1.6;
    color:#333;
    overflow-wrap:break-word;
    word-break:break-word;
    height: 100px;
}

.section p{
    line-height:1.7;
    color:#333;
    font-size: 15px
}

.interestContainer{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom: 10px;
    height: 100px;
}

.interestContainer span{
    background:#c8b0ef;
    color:#ffffff;
    padding:8px 16px;
    border-radius:20px;
    font-size:14px;
    font-weight:600;
    height: 20px;
}

.infoRow{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:12px;
    margin-bottom:18px;
    font-size:17px;
    color:#444;
}

.infoRow span {
    margin-top: 5px;
    font-size: 15px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
}

.buttons {
    display: flex;
    gap: 16px;
    margin: 20px 0;
}

button {
    padding: 12px 14px;
    border: none;
    border-radius: 12px;
    background: #AB9EE2;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-3px);
    background-color: #654c91;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}

.empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

/*Toggle between modes*/
.modeContainer {
    display: flex;
    gap: 16px;
    justify-content: center; 
}

.modeBtn {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: #ffffff;
    border-radius: 12px;
    cursor: pointer;
    text-align: left;
    width: 220px;            
    height: 60px;           
    padding: 0 16px;         
    box-sizing: border-box; 
    transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
}

.modeBtn:hover {
    transform: translateY(-3px);
    background-color: white;
    border: 2px solid #654c91;
}

.modeBtn .icon {
    font-size: 24px;
}

.modeBtn .btnText {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
}

.modeBtn p {
    color: black;
    font-size: 15px;
    margin: 0;            
}

/*Active*/
.modeBtn.active {
    border: 2px solid #654c91; 
    background: #AB9EE2;
    box-shadow: 0 4px 12px rgba(79, 70, 229, 0.1);
    cursor: not-allowed;
}

.modeBtn.active:hover {
    transform: none;
}

.modeBtn.active p {
    color: white;
}

.loading-state {
    width: 100%;
    min-height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #666;
    text-align: center;
}

.spinner {
    width: 36px;
    height: 36px;

    border: 4px solid rgba(0,0,0,.1);
    border-left-color: #09f;
    border-radius: 50%;

    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}