body {
    font-family: 'Fredoka', sans-serif;
    background-image: url("/images/activity_background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    
}

/*Nav bar*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.logo img {
    width: 140px;
    height: auto;
}

.links {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 60px;
}

.links a {
    text-decoration: none;
    font-weight: bold;
    color:#3E07AC;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.links a:hover {
    text-decoration: underline;
    transition-duration: 2s;
}

.dropDown {
    position: relative;
    display: inline-block;
}

.dropDownContent {
    display:none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #AB9EE2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDownContent a {
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid #654c91;
    padding: 5px;
}

.dropDownContent a:last-child {
    border-bottom: none;
}

.dropDown:hover .dropDownContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 10px 0;
    margin: 2px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.popupContent {
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
}

.popupContent h2 {
    margin:0
}

.popupContent input {
    margin-top: 10px;
}

.close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 8px;
}

.close:hover {
    background-color: grey;
    border-radius: 50%;
}

#saveBtn {
    padding: 12px 14px;
    border: none;
    border-radius: 12px;
    background: #AB9EE2;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    margin-top: 10px;
}

#saveBtn:hover {
    transform: translateY(-3px);
    background-color: #654c91;
}

/*Activity details*/
.activityPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
    gap: 30px;
}
.activityPage p {
    font-family:'Fredoka', sans-serif;
    color: #654c91;
    margin-bottom: -10px;
    font-weight: bold;
    font-size: 20px;

}
.activityContainer {
    width: 100%;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; 
    gap: 20px;
}

/* Each box */
.activityBox {
    padding: 18px;
    width: 280px;
    min-width: 200px;
    background: #D7C0E8;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden; 
    gap: 8px;
    align-content: flex-start;
    justify-content: flex-start;
    transition: transform 0.2s, box-shadow 0.2s;
}

.activityBox:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.activityBox h1 {
    font-weight: bold;
    color: black;
    font-size: 18px;
    align-self: center;
    margin-bottom: -5px;
}

.activityBox .label {
    font-weight: bold;
    color: white;
    margin: 0px;
    font-size: 14px;
}

.activityBox span {
    display: block;
    color: black;
    margin-top: 3px;
    font-size: 13px;
}

.description {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    gap: 16px;
    margin: 20px 0;
}

button {
    padding: 12px 14px;
    border: none;
    border-radius: 12px;
    background: #AB9EE2;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-3px);
    background-color: #654c91;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}

.empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.modeContainer {
    display: flex;
    gap: 16px;

}

.modeBtn {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: #ffffff;
    border-radius: 12px;
    cursor: pointer;
    text-align: left;
    width: 250px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.modeBtn:hover{
    transform: translateY(-3px);
    background-color: white;
    border: 2px solid #654c91;
}

.modeBtn .icon {
    font-size: 24px;
}
.modeBtn .btnText {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}
.modeBtn p {
    color: black;
    font-size: 15px;
}

/* Active Mode Styling */
.modeBtn.active{
    border:2px solid #654c91; /* Premium Indigo Accent */
    background: #AB9EE2;
    box-shadow: 0 4px 12px rgba(79, 70, 229, 0.1);
    cursor: not-allowed;
}

.modeBtn.active:hover {
    transform: none;
}

.modeBtn.active p{
    color: black;
}

