body {
    font-family: 'Fredoka', sans-serif;
    background-image: url("/images/activity_background.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

/*Nav bar*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.logo img {
    width: 140px;
    height: auto;
}

.links {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 60px;
}

.links a {
    text-decoration: none;
    font-weight: bold;
    color:#3E07AC;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.links a:hover {
    text-decoration: underline;
    transition-duration: 2s;
}

/*----------Create Activity----------*/
.CreateActivity {
    max-width: 98%;
    padding-left: 40px;
    padding-right: 40px;
}

.EditSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}

/*Preview*/
.left {
    width: 50%;
    margin-top: -10px;
}

.left h1 {
    font-weight: bold;
    color:#3E07AC;
    text-align: center;
}

.leftBox {
    height: auto;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 15px;
    background-color:#e2caea;
    border-radius: 10px;
}

.leftBox h1 {
    font-weight: bold;
    color:black;
    font-size: 25px;
    align-self: center;
}

.leftBox .label {
    font-weight: bold;
    color:white;
    margin:0px;
}

.leftBox span {
    display: block;
    color: black;
    margin-top: 8px;
}
/*Form*/
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    color: #3E07AC;
}

input {
    padding: 8px;
    border: 1px solid #7466b2;
    border-radius: 6px;
}

input::placeholder {
    color: #5e35b1;
}

textarea {
    padding: 8px;
    border: 1px solid #7466b2;
    border-radius: 6px;
    height: 80px;
    font-family: 'Fredoka', sans-serif;
}

textarea::placeholder {
    font-family: 'Fredoka', sans-serif;
    color: #5e35b1;
}

.interests {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.interests button {
    padding: 12px 20px;
    background:#AB9EE2;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.interests button:hover {
    transform: translateY(-3px);
}

.interests button.selected {
    background-color: #5d4da4;
    color: white;
}

.save {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.save button{
    padding: 12px 14px;
    border: none;
    border-radius: 12px;
    background: #AB9EE2;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

.save button:hover {
    transform: translateY(-3px);
    background-color: #654c91;
}