body {
    font-family: 'Fredoka', sans-serif;
    background-image: url("/images/activity_background.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

/*Nav bar*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.logo img {
    width: 140px;
    height: auto;
}

.links {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 60px;
}

.links a,
.links button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    text-decoration: none;
    font-weight: bold;
    color:#3E07AC;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.links a:hover{
    text-decoration: underline;
    transition-duration: 2s;
}

.links button:hover{
    transform: none;
    background-color: transparent;
    text-decoration: underline;
}

.dropDown {
    position: relative;
    display: inline-block;
}

.dropDown::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 10px;
}

.dropDownContent {
    display:none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #AB9EE2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDownContent a {
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid #654c91;
    padding: 5px;
}

.dropDownContent a:last-child {
    border-bottom: none;
}

.dropDown.active .dropDownContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 10px 0;
}

/*Pop ups*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.popupContent {
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;          
    max-width: 400px;
}

.popupContent h2 {
    margin:0
}

.popupContent input {
    margin-top: 10px;
}

.close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 8px;
}

.close:hover {
    background-color: #AB9EE2;
    border-radius: 50%;
}

.popupContent button {
    padding: 12px 14px;
    border: none;
    border-radius: 12px;
    background: #AB9EE2;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    margin-top: 10px;
}

.popupContent button:hover {
    transform: translateY(-3px);
    background-color: #654c91;
}

/*----------Create Activity----------*/
.CreateActivity {
    max-width: 98%;
    padding-left: 40px;
    padding-right: 40px;
}

.EditSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}

/*Preview*/
.left {
    width: 50%;
    margin-top: -10px;
}

.left h1 {
    text-align:center;
    color: #3E07AC;
}

.leftBox {
    background:#e8dcff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.activityImage{
    position:relative;
    width:100%;
    height:160px;
}

.activityImage img{
    width:100%;
    height:100%;
}

.activityContent{
    padding-left:28px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.activityContent h2{
    font-size:25px;
    font-weight:bold;
}

.activityContent h3 {
    color:#3E07AC;
    margin-bottom:12px;
    font-size: 19px;
}

.section{
    line-height:1.6;
    color:#333;
    overflow-wrap:break-word;
    word-break:break-word;
    margin-top: -10px;
}

.section p{
    line-height:1.7;
    color:#333;
}

.interestContainer{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom: 10px;
}

.interestContainer span{
    background:#c8b0ef;
    color:#ffffff;
    padding:8px 16px;
    border-radius:20px;
    font-size:14px;
    font-weight:600;
}

.infoRow{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:12px;
    margin-bottom:18px;
    font-size:17px;
    color:#444;
}

.infoRow span {
    margin-top: 5px;
}

/*Form*/
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    color: #3E07AC;
}

input {
    padding: 8px;
    border: 1px solid #7466b2;
    border-radius: 6px;
}

input::placeholder {
    color: #5e35b1;
}

textarea {
    padding: 8px;
    border: 1px solid #7466b2;
    border-radius: 6px;
    height: 80px;
    font-family: 'Fredoka', sans-serif;
}

textarea::placeholder {
    font-family: 'Fredoka', sans-serif;
    color: #5e35b1;
}

.interests {
    display: flex; 
    flex-direction: row; 
    gap: 5px; 
    margin-bottom: -5px;
}

.save {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.save button{
    padding: 12px 14px;
    border: none;
    border-radius: 12px;
    background: #AB9EE2;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

.save button:hover {
    transform: translateY(-3px);
    background-color: #654c91;
}
