body {
    font-family: 'Fredoka', sans-serif;
    background-image: url("/images/activity_background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    
}

/*Nav bar*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.logo img {
    width: 140px;
    height: auto;
}

.links {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 60px;
}

.links a,
.links button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    text-decoration: none;
    font-weight: bold;
    color:#3E07AC;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.links a:hover{
    text-decoration: underline;
    transition-duration: 2s;
}

.links button:hover{
    transform: none;
    background-color: transparent;
    text-decoration: underline;
}

.dropDown {
    position: relative;
    display: inline-block;
}

.dropDownContent {
    display:none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #AB9EE2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDownContent a {
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid #654c91;
    padding: 5px;
}

.dropDownContent a:last-child {
    border-bottom: none;
}

.dropDown.active .dropDownContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 10px 0;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.popupContent {
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
}

.popupContent h2 {
    margin:0
}

.popupContent input {
    margin-top: 10px;
}

.close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 8px;
}

.close:hover {
    background-color: grey;
    border-radius: 50%;
}

#saveBtn {
    padding: 12px 14px;
    border: none;
    border-radius: 12px;
    background: #AB9EE2;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    margin-top: 10px;
}

#saveBtn:hover {
    transform: translateY(-3px);
    background-color: #654c91;
}

.recommend-page {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px auto;
    max-width: 1350px;
    padding: 0 40px;
    box-sizing: border-box;
}

.robot-section {
    align-items:center;
}

.robot-section img {
    width: 70%;
    max-width: 240px;
    height: auto;
    align-self: flex-end;
}

.recommend-panel {
    flex: 6;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 40px;
    padding: 35px;
    box-sizing: border-box;
}

/* Title */
.recommend-title {
    color: #3E07AC;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 25px;
}

.recommend-card {
    background: white;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

.recommend-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.recommend-name {
    font-size: 20px;
    font-weight: bold;
    color: #3E07AC;
    margin: 0;
}

.recommend-details {
    font-size: 15px;
    color: #3E07AC;
    margin: 5px 0 0;
}

.view-profile-btn {
    background-color:#AB9EE2;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
    transition: 0.2s;
    margin-left: auto;
}

.view-profile-btn:hover {
    background-color: #654c91;
    transform: translateY(-2px);
}

.empty {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3E07AC;
    font-size: 24px;
    font-weight: bold;
}

#recommend-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}