body {
    font-family: 'Fredoka', sans-serif;
    background-image: url("/images/activity_background.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*Nav bar*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.logo img {
    width: 140px;
    height: auto;
}

.links {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 60px;
}

.links a {
    text-decoration: none;
    font-weight: bold;
    color:#3E07AC;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.links a:hover {
    text-decoration: underline;
    transition-duration: 2s;
}

.dropDown {
    position: relative;
    display: inline-block;
}

.dropDownContent {
    display:none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #AB9EE2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDownContent a {
    text-decoration: none;
    font-weight: bold;
    color:#ffffff;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid #654c91;
    padding: 5px;
}

.dropDownContent a:last-child {
    border-bottom: none;
}

.dropDown:hover .dropDownContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding: 10px 0;
    margin: 2px;
}

/*Popups*/
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.popupContent {
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
}

.popupContent h2 {
    margin:0
}

.popupContent input {
    margin-top: 10px;
}

.close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 8px;
}

.close:hover {
    background-color: grey;
    border-radius: 50%;
}

#saveBtn {
    padding: 12px 14px;
    border: none;
    border-radius: 12px;
    background: #AB9EE2;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    margin-top: 10px;
}

#saveBtn:hover {
    transform: translateY(-3px);
    background-color: #654c91;
}

/*Edit Profile*/
.EditProfile {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}


h1 {
    color:#3E07AC;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.EditSection {
    width: 100%;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
}

.col1, .col2, .col3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.interests {
    width: 100%;
    display: column;
    align-items: center;            
    gap: 15px;                  
    margin-top: -5px;
    max-height: 250px;              
    overflow-y: auto;                
    padding: 5px;
}

.interests input[type="checkbox"] {
    width: 16.5px;
    height: 16.5px;
    accent-color: #AB9EE2;          
    cursor: pointer;
    margin: 0;    
}

.interests label {
    font-size: 18px;
    color: black;                  
    font-weight: 500;
    cursor: pointer;    
    font-family: 'Fredoka', sans-serif;                               
}

.interests label:hover {
    color: #3E07AC;
}

label {
    font-weight: bold;
    color:#3e07ac;
}

input {
    margin-top: -10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

textarea {
    margin-top: -10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 12px;
    height: 100px;
    font-family: 'Fredoka', sans-serif;
}

textarea::placeholder {
    font-family: 'Fredoka', sans-serif;
}

select {
    margin-top: -10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    font-size: 14px;
}

.save {
    width: 80px;
    height: 30px;
    margin-top: 20px;
    background: #AB9EE2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.save:hover {
    transform: translateY(-3px);
    background: #706799;
}
